@charset "UTF-8";
/* начальные обнуления */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #e1e1e1;
  overflow-y: hidden;
  margin: 0;
  color: #484e47;
  font-weight: lighter;
}
body a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
body button {
  font-family: montserrat;
  font-weight: lighter;
  font-size: 14px;
  outline: none;
}
body p {
  margin: 0;
  font-size: 1.5rem;
  text-align: justify;
}
body hr {
  margin: 0;
}
body ol, body ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
body hr {
  max-width: 80vw;
  margin: 15px auto;
  border-left: 0;
  border-right: 0;
}

#sm-wrapper {
  display: none;
}

/* флекс классы */
.flex {
  display: flex;
}
.flex-jc {
  justify-content: center;
}
.flex-jb {
  justify-content: space-between;
}
.flex-je {
  justify-content: space-evenly;
}
.flex-ja {
  justify-content: space-around;
}
.flex-d-col {
  flex-direction: column;
}
.flex-ac {
  align-items: center;
}
.flex-as {
  align-items: stretch;
}
.flex-wr {
  flex-wrap: wrap;
}
.flex-end {
  justify-content: end;
}

/* грид классы */
.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  transition: top 0.3s;
}

.d-grid {
  display: grid;
}

/* нав меню, классы всей шапки */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  transition: 0.3s;
}
.header:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}
.header-body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 60px;
  font-family: montserrat;
}
.header-logo {
  position: relative;
  z-index: 3;
  width: auto;
  overflow: hidden;
  font-size: 40px;
}
.header-list {
  position: relative;
  z-index: 2;
}
.header-list li {
  margin: 0 0 0 20px;
}
.header-link {
  font-size: 20px;
  font-weight: 200;
}
.header-ico {
  position: relative;
  z-index: 3;
  margin-left: 2vw;
  width: auto;
  overflow: hidden;
  font-size: 40px;
  font-weight: 800;
}
.header .header-burger {
  position: relative;
  z-index: 3;
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.header .header-burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header .header-burger.active span {
  background-color: transparent;
}
.header .header-burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header .header-burger:before {
  content: "";
  position: absolute;
  background: #484e47;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.header .header-burger span {
  position: absolute;
  background: #484e47;
  width: 100%;
  height: 2px;
  top: 9px;
  left: 0;
  transition: 0.3s;
}
.header .header-burger:after {
  content: "";
  position: absolute;
  background: #484e47;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 1px;
  transition: 0.3s;
}
.header .header-menu {
  position: fixed;
  top: 0;
  left: -110%;
  width: 300px;
  height: 100%;
  background: #e1e1e1;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
  padding: 80px 10px 0px 30px;
  transition: 0.3s;
}
.header .header-menu.active {
  left: 0;
}
.header .header-list {
  flex-direction: column;
}
.header .header-list li {
  margin: 0 0 20px 0;
}

.links {
  flex-flow: column;
  margin-top: -5px;
  padding-left: 35px;
  padding-right: 250px;
}

/* стилизация контента */
.container {
  max-width: 70vw;
  margin: 0 auto;
}
.container-head {
  max-width: 90vw;
  margin: 0 auto;
}

.mb {
  margin-bottom: 30px;
}

.field {
  display: block;
  width: 100vw;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  font-size: 4rem;
  color: white;
}
.banner img {
  display: block;
}

.text-big {
  color: white;
  font-size: 8rem;
}
.text-small {
  color: white;
  font-size: 2rem;
}

/* центрированный контент */    
.container-img {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* главная классы по порядку по секциям */
.first {
  margin-top: 60px;
}

.second {
  font-size: 2.5rem;
}
.second a {
  transition: 0.2s;
}
.second a:hover {
  scale: 1.05;
}
.second-item {
  flex: 33.3%;
}
.second-item img {
  box-shadow: 0 0 10px 0 black;
}

.fourth-item {
  flex: 50%;
  display: flex;
  justify-content: center;
}
.fourth p {
  background: #D9D9D9;
  padding: 20px;
  box-shadow: 0 0 10px 0 black;
  margin-bottom: 15px;
}

/* статистика */
.statistics {
  display: flex;
  flex: 23%;
  align-items: center;
  max-width: 250px;
  font-size: 2rem;
  background: #d9d9d9;
  box-shadow: 0 0 10px 0 black;
  margin-right: 2%;
}
.statistics p {
  margin: 15px auto;
  display: flex;
  align-content: center;
  text-align: center;
}

/* контейнер каталога одежды */
.catalog.container {
  max-width: 66vw;
}

/* разметка каждого товара */
.product {
  position: relative;
  flex: 25%;
}
.product:hover .product-img {
  opacity: 0.3;
}
.product:hover .middle {
  opacity: 1;
}
.product-item {
  margin: 0 2% 4% 2%;
}
.product-img {
  max-width: 100%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* страница товара */
.product-containter {
  width: auto;
  padding-top: 60px;
  height: 65vh;
  grid-template-rows: 1fr;
  grid-template-columns: 60% 40%;
  align-items: center;
}
.product-wraper img {
  display: block;
  border: solid 1px black;
}

/* The container */
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0 12px 12px 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Hide the browser's default radio button */
 *  & input
 *      position: absolute
 *      opacity: 0
 *      cursor: pointer */
/* Create a custom radio button */
 *  &mark
 *      position: absolute
 *      top: 0
 *      left: 0
 *      height: 25px
 *      width: 25px
 *      background-color: #eee
 *      border-radius: 50% */
/* On mouse-over, add a grey background color */
 *  &:hover input ~ &mark
 *      background-color: #ccc */
/* When the radio button is checked, add a blue background */
 *  & input:checked ~ &mark
 *      background-color: #525252 */
/* Create the indicator (the dot/circle - hidden when not checked) */
 *  &mark:after
 *      content: ""
 *      position: absolute
 *      display: none */
/* Show the indicator (dot/circle) when checked */
 *  & input:checked ~ &mark:after
 *      display: block */
/* Style the indicator (dot/circle) */
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0 12px 12px 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check input:checked ~ .checkmark {
  background-color: #525252;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check:hover input ~ .checkmark {
  background-color: #ccc;
}
.check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.checkmark {
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.price, .price h1, .price h2 {
  margin: 0;
}

button {
  background: transparent;
  border: solid 1px #525252;
  padding: 10px 40px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #525252;
  color: #fff;
}

/* футер */
footer {
  background: #d9d9d9;
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  padding: 20px 0;
}
.footer-block {
  flex: 25%;
}
.footer-block-item {
  justify-content: start;
}
.footer-name {
  font-weight: bold;
}
.footer-item-link {
  color: #484e47 !important;
  margin-right: 10px;
}

/* медиа запросы */
@media (max-width: 992px) {
  .product {
    flex: 33.3%;
  }
  .statistics {
    flex: 50%;
    margin: 2%;
  }
  .footer {
    padding: 20px 0;
  }
  .footer-block {
    flex: 50%;
  }
  .banner {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .field {
    width: auto;
  }
  .product {
    flex: 50%;
  }
  .second-item {
    margin: 2% 0;
  }
  .fourth {
    max-width: 100%;
  }
  .fourth p {
    max-width: 70vw;
    font-size: 1rem;
  }
  .fifth {
    max-width: 100%;
    justify-content: center;
  }
  .statistics {
    flex: 100%;
  }
  .catalog {
    max-width: 100% !important;
  }
  .product-containter {
    max-width: 100%;
    height: 80vh;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media (max-width: 500px) {
  .second {
    max-width: 100%;
  }
  .catalog {
    max-width: 100%;
  }
  .product {
    flex: 100vw;
    margin: 0;
  }
  .product-item {
    margin: 0;
  }
  .product-img {
    width: 100%;
  }
  .statistics {
    flex: 100%;
  }
}/*# sourceMappingURL=index.css.map */