html, body
    max-width: 100%
    overflow-x: hidden

body
    background: #e1e1e1
    overflow-y: hidden
    margin: 0
    color: #484e47
    font-family: montserrat
    font-weight: lighter
    a
        color: #484e47
        text-decoration: none
        cursor: pointer
    button
        font-family: montserrat
        font-weight: lighter
        font-size: 14px
        outline: none
    p
        font-size: 20px
        text-align: justify
    hr
        margin: 0
    ol, ul
        list-style: none
        padding-inline-start: 0