/* начальные обнуления */
html, body
    max-width: 100%
    overflow-x: hidden

body
    height: 100%
    background: #e1e1e1
    overflow-y: hidden
    margin: 0
    color: #000
    font-weight: lighter
    a
        color: #000000
        text-decoration: none
        cursor: pointer
    button
        font-family: montserrat
        font-weight: lighter
        font-size: 14px
        outline: none
    p
        margin: 0
        font-size: 1.5rem
        text-align: justify
    hr
        margin: 0
    ol, ul
        list-style: none
        padding-inline-start: 0
    hr
        background: #e1e1e1
        max-width: 80vw
        margin: 15px auto
        border-left: 0
        border-right: 0

/* --------флекс классы--------- */
    
.flex
    display: flex
    &-jc
        justify-content: center
    &-jb
        justify-content: space-between
    &-je
        justify-content: space-evenly
    &-ja
        justify-content: space-around
    &-d-col
        flex-direction: column
    &-ac
        align-items: center
    &-as
        align-items: stretch
    &-wr
        flex-wrap: wrap
    &-end
        justify-content: end

/* грид классы */
.grid
    display: grid
    grid-template-columns: 1fr auto 1fr
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    transition: top 0.3s

.d-grid
    display: grid

/* -------------нав меню, классы всей шапки--------- */
.header
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 50
    transition: 0.3s
    &:before
        content: ''
        position: absolute
        z-index: 2
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: #e1e1e1
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2)
    &-body
        position: relative
        display: grid
        grid-template-columns: 1fr auto 1fr
        align-items: center
        height: 60px
        font-family: montserrat
    &-logo
        position: relative
        z-index: 3
        width: auto
        overflow: hidden
        font-size: 40px

    &-list
        position: relative
        z-index: 2
        & li
            margin: 0 0 0 20px
    &-link
        font-size: 20px
        font-weight: 200
    &-ico
        position: relative
        z-index: 3
        margin-left: 2vw
        width: auto
        overflow: hidden
        font-size: 40px
        font-weight: 800

    .header
        &-burger
            position: relative
            z-index: 3
            display: block
            position: relative
            width: 30px
            height: 20px
            cursor: pointer
            &.active
                &:before
                    transform: rotate(45deg)
                    top: 9px

                & span
                    background-color: transparent

                &:after
                    transform: rotate(-45deg)
                    bottom: 9px

            &:before
                content: ''
                position: absolute
                background: #000
                width: 100%
                height: 2px
                top: 0
                left: 0
                transition: .3s

            & span
                position: absolute
                background: #000
                width: 100%
                height: 2px
                top: 9px
                left: 0
                transition: .3s

            &:after
                content: ''
                position: absolute
                background: #000
                width: 100%
                height: 2px
                left: 0
                bottom: 1px
                transition: .3s

        &-menu
            position: fixed
            top: 0
            left: -110%
            width: 300px
            height: 100%
            background: #e1e1e1
            box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2)
            padding: 80px 10px 0px 30px
            transition: .3s
            &.active
                left: 0

        &-list
            flex-direction: column
            & li
                margin: 0 0 20px 0

.links
    flex-flow: column
    margin-top: -5px
    padding-left: 35px
    padding-right: 250px

/* ------------стилизация контента------------------- */
.container
    max-width: 70vw
    margin: 0 auto
    &-head
        max-width: 90vw
        margin: 0 auto

.mb
    margin-bottom: 30px

.field
    display: block
    width: 100%
    height: 25vh
    object-fit: cover

.banner
    font-size: 4rem
    color: white
    & img
        display: block

.text
    &-big
        text-align: center
        color: black
        font-size: 8rem

    &-small
        color: white
        font-size: 2rem

/* ----------------центрированный контент------------------ */    

.container-img
    position: relative
    text-align: center

.centered
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

/* ----------главная классы по порядку по секциям---------------- */

.first
    margin-top: 60px

.second
    font-size: 2.5rem
    & div
        transition: .2s
    & div:hover
        scale: 1.05
    &-item
        flex: 33.3%
        & img
            box-shadow: 0 0 10px 0 black

.fourth
    &-item
        flex: 50%
        display: flex
        justify-content: center
    & p
        background: #D9D9D9
        padding: 20px
        box-shadow: 0 0 10px 0 black
        margin-bottom: 15px

/* ------------статистика---------------- */

.statistics
    display: flex
    flex: 23%
    align-items: center
    max-width: 250px
    font-size: 2rem
    background: #d9d9d9
    box-shadow: 0 0 10px 0 black
    margin-right: 2%

    & p
        margin: 15px auto
        display: flex
        align-content: center
        text-align: center

/* контейнер каталога одежды */

.catalog.container
    max-width: 60vw

/* разметка каждого товара */

.product
    position: relative
    flex: 23%
    margin: 1%
    &:hover
        & .product-img
            opacity: 0.3
        & .middle
            opacity: 1

    &-img
        max-width: 100%
        opacity: 1
        display: block
        width: 100%
        height: auto
        transition: .5s ease
        backface-visibility: hidden

.middle
    transition: .5s ease
    opacity: 0
    position: absolute
    z-index: 20
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

.top
    position: absolute
    z-index: 20
    top: 5px
    left: 5px
    text-align: center

/* ------------------страница товара ----------------*/

.product
    &-containter
        width: auto
        padding-top: 70px
        height: 65vh
        grid-template-rows: 1fr
        grid-template-columns: 60% 40%
        align-items: center
    &-wraper img
        display: block
        border: solid 1px black
    &-properties
        margin: 5vh 0

.price
    &, h1, h2
        margin: 0

/* --------Контайнер---Radio-buttons---------- */

.check
    display: block
    position: relative
    padding-left: 35px
    margin: 0 12px 12px 0
    cursor: pointer
    font-size: 22px
    user-select: none
/* Убуираем стандартные radio */
    & input
        position: absolute
        opacity: 0
        cursor: pointer

/* Создаём кастомные */

    &mark
        position: absolute
        top: 0
        left: 0
        height: 25px
        width: 25px
        background-color: #eee
        border-radius: 50%

/* При наведении мыши */

    &:hover input ~ &mark
        background-color: #ccc

/* Когда кнопка отмечена добавляем back */

    & input:checked ~ &mark
        background-color: #525252

/* Индикатор когда он не отмечен */

    &mark:after
        content: ""
        position: absolute
        display: none

/* показ индикатора когда он отмечен*/

    & input:checked ~ &mark:after
        display: block

/* Стиль индикатора dot/circle */

.check
    display: block
    position: relative
    padding-left: 35px
    margin: 0 12px 12px 0
    cursor: pointer
    font-size: 22px
    user-select: none
    input
        position: absolute
        opacity: 0
        cursor: pointer
        &:checked ~ .checkmark
            background-color: #525252
            &:after
                display: block

    &:hover input ~ .checkmark
        background-color: #ccc

    &:after
        top: 9px
        left: 9px
        width: 8px
        height: 8px
        border-radius: 50%
        background: white

.checkmark
    transition: .3s
    position: absolute
    top: 0
    left: 0
    height: 25px
    width: 25px
    background-color: #eee
    border-radius: 50%
    &:after
        content: ""
        position: absolute
        display: none

    &:after
        top: 9px
        left: 9px
        width: 8px
        height: 8px
        border-radius: 50%
        background: white

/* -----------------Форма---------------------- */

form
    position: relative
    z-index: 1
    background: #e1e1e1
    margin: 25vh 0
    padding: 10vh
    box-shadow: 0 0 10px 0 #000000
    border-radius: 5%
    h1
        text-align: center
        margin-bottom: 30px
    h5
        text-align: center
        text-decoration: solid

.ellipse
    opacity: 0.5
    position: absolute
    z-index: -1
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    width: 35%

.login-form
    max-width: 400px
    margin: 0 auto
    padding: 20px
    border: 1px solid #ccc
    border-radius: 5px
    box-shadow: 0 0 10px rgba(0,0,0,0.3)

.form-group
    margin-bottom: 20px
    & label
        display: block
        margin-bottom: 5px
        font-weight: bold
    & input[type="email"], input[type="password"]
        width: 100%
        padding: 10px
        border: 1px solid #ccc
        border-radius: 5px
        box-sizing: border-box

button
    background: transparent
    color: #000 !important
    border: solid 1px #525252
    padding: 10px 40px
    text-align: center
    font-size: 1.5rem
    border-radius: 5px
    width: 100%
    cursor: pointer
    transition: .3s
    margin-bottom: 15px
    &:hover
        background: #525252
        color: #fff !important

/* -----------------свайпер----------------- */
.page
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    overflow: hidden
    &-wrapper
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
    &-screen
        width: 100vw
        height: 100vh

    &-pagination
        position: absolute
        top: 50%
        right: 50px
        transform: translate(0px, -50%)
    &-bullet
        width: 15px
        height: 15px
        cursor: pointer
        background: rgba(0, 0, 0, 0.5)
        margin: 10px 0
        border-radius: 50%
        transition: backgtound-color 0.3s
    &-bullet-active
        background: #fff

    &-scroll
        position: absolute
        top: 0
        right: 0
        width: 4px
        height: 100%
        background: rgba(0, 0, 0, 0.2)
    &-drag-scroll
        position: absolute
        top: 0
        left: 0
        width: 100%
        background: rgba(0, 0, 0, 0.8)
        cursor: pointer

/* ---------------------------------------------------- */

.screen
    flex: 1 0 100%
    position: relative
    &-content
        padding-top: 80px
        position: relative
        z-index: 2
        & img
            width: 400px
    &-title
        font-size: 50px
        color: #000000
        margin: 0 0 30px 0
        display: inline-block
        &-bg
            border-radius: 10px
            background: #00000080
            padding: 15px

    &-body
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        overflow: hidden
    &-image
        position: absolute
        width: 100%
        height: 100vh
        top: 0
        right: 0
        & img
            position: absolute
            width: 100vw
            height: 100%
            top: 0
            left: 0
            object-fit: cover
            display: block

/* -------------------------------------- */

.personal
    z-index: 2
    position: relative
    margin-top: 80px
    font-size: 1.5rem
    &-links
        box-shadow: 0 0 50px 0 #0000003a
        font-size: 1.5rem
        width: 40vw
        min-width: 300px
        height: 10vh
        text-align: center
        margin-bottom: 20px
        background: #d9d9d9
        & a
            padding: 2vh 10vw

/* ------------------------------------------- */

.about
    margin: 10vh auto
    &-item
        display: flex
        align-items: center
        flex: 48%
        font-size: 2rem
        background: #d9d9d9
        box-shadow: 0 0 10px 0 black
        margin: 1% 1%
        & p
            margin: 4vh auto
            display: flex
            align-content: center
            text-align: center

/* -------------------------------------------- */

.buy
    &-item
        position: relative
        padding: 20px
        margin: 20px auto
        background: #d9d9d9
        box-shadow: 0 0 10px 0 black

    &-content
        flex-wrap: wrap
        &-item
            padding: 5px
            margin: 10px
            &-1
                align-self: start
            &-2
                align-self: start
            &-3
                align-self: end
            &-4
                position: absolute
                top: 20px
                right: 20px
                cursor: pointer
                
/* -------------------------------------------- */

.close
    cursor: pointer
    position: absolute
    top: 15px
    right: 15px
    width: 1vh

.favorite
    padding-top: 4vh
    background: #d9d9d9
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2)

/* -------------------------------------------------- */

/* -------------------футер ----------------------------*/
footer

    background: #d9d9d9
    font-size: 1.5rem
    width: 100%

.footer
    padding: 20px 0
    &-block
        flex: 25%
        &-item
            justify-content: start
    &-name
        font-weight: bold
    &-item
        &-link
            color: #000 !important
            margin-right: 10px

/* медиа запросы */

@media (max-width: 1200px)

@media (max-width: 992px)
    .product
        flex: 31.3%

    .statistics
        flex: 50%
        margin: 2%

    .footer
        padding: 20px 0
        &-block
            flex: 50%

    .banner
        font-size: 2.5rem

@media (max-width: 768px)

    .field
        width: 100%

    .product
        flex: 48%

    .second
        &-item
            margin: 2% 0

    .fourth
        max-width: 100%
        & p
            max-width: 70vw
            font-size: 1rem

    .fifth
        max-width: 100%
        justify-content: center

    .statistics
        flex: 100%

    .catalog
        max-width: 100% !important

    .product
        &-containter
            max-width: 100%
            height: 92vh
            grid-template-columns: 1fr
            justify-items: center

    .text
        &-big
            font-size: 5rem

.screen
    &-content
        & img
            width: 200px

@media (max-width: 500px)
    .second
        max-width: 100%

    .catalog
        max-width: 100%

    .product
        flex: 100vw
        margin: 0
        &-item
            margin: 0

        &-img
            width: 100%

    .statistics
        flex: 100%

    .about
        &-item
            flex: 100%
            & p
                margin: 15px auto
                display: flex
                align-content: center
                text-align: center

    .buy-image
        & img
            width: 70vw

    .buy-content-item-4
        top: 30px
        right: 30px
